<h1>Hey Menial Coder - whats up!</h1>
<br /><br />
<%= simple_form_for @summarie do |s| %>
	<%= s.input :work %>
	<%= s.input :help %>
	<%= s.input :name %>
	<br />
	<%= s.submit 'Create', :class => 'btn btn-danger' %>
	<% end %>